.main-title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: #C85D63;
    text-shadow: 4px 4px 0 #000;
}

.main-title.-second {
    text-align: center;
    color: #FFF;
    text-shadow: none;
}
