.main-section {
    background-color: #C85D63;
    border-bottom: 10px solid #A2B0B1;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section .main-description{
    margin: 50px 80px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #C85D63;
}

.main-section.-bgGray {
    background-color: #A2B0B1;
}

.main-section.-bdBlack {
    border-color: #000;
}